*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #2c3e50, #1abc9c); */
    background: radial-gradient(circle, #1b1e23, #131416);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;

}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;

}
.container h1 img{
    height: 55px;
}
.toggle-switch-container {
    margin-left: auto; /* Push toggle switch to the right end */
}
.container button img{
    width: 25px;
    margin-right: 8px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #2d9ee0, #1f4b99);
    border-radius: 40px;
    padding:10px 22px;
    border:0;
    outline: 0;
    cursor: pointer;
    margin: 30px 0 20px;
    color: #fff;
    font-size: 14px;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    color: #fff;
    background-color: #1E1E1E;
    border-radius: 2%;
    padding: 5px 10px;
    border: 0;
    outline: 0;
    margin: 20px 0;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3), -2px -2px 5px 1px rgba(255, 255, 255, 0.1);
}

.input-box img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 22px;
    cursor: pointer;
}
/* Hide default checkbox */
.toggle-switch input {
    display: none;
  }
  
  /* Style toggle switch container */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Set maximum width */
    height: 20px; /* Set maximum height */
  }
  
  /* Style toggle switch slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px; /* Set border radius to half of the maximum height */
  }
  
  /* Style toggle switch slider when toggled */
  .slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Adjust height to fit within the container */
    width: 16px; /* Adjust width to fit within the container */
    left: 2px; /* Adjust positioning to fit within the container */
    bottom: 2px; /* Adjust positioning to fit within the container */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  /* Style toggle switch when checked */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Style toggle switch slider when checked */
  input:checked + .slider:before {
    transform: translateX(40px); /* Adjust position to fit within the container */
  }
  